.body {
	background-color: #fdfff4;
}

img {
	width: 100%;
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

.headline {
	font-family: Abril Fatface;
	font-size:60px;
	line-height: 65px;
}

.body {
	font-family: Open Sans Condensed;
	font-size:22px;
	line-height:30px;
}

.youtube{
	display: block;
	margin: 0 auto;
}

.home{
background-image: url("http://cdn.wallpapersafari.com/27/16/pFkXea.jpg");
max-width: 100%;
height: auto;
width: auto\9; /* ie8 */
}